### Analysing heart disease data from kaggle

In [1]:
import pyforest

#### Load dataset

In [2]:
heart_disease_df = pd.read_csv('data/Heart_disease_details.csv')
heart_disease_df.head()

,Name,Gender,Age,Chest pain,Shortness of breath,Fatigue,Systolic,Diastolic,Heart rate (bpm),Lung sounds,...,Cardiac CT,Obesity,Murmur,Chest x-ray,Previous illnesses,Pulmonary function tests,Spirometry,Diagnosis,Medications,Treatment
0,Jane Doe,Female,55,1,1,1,140,90,100,1,...,Shows a 50% blockage in the left anterior desc...,0,1,None,None,None,None,Coronary artery disease (CAD),"Aspirin, metoprolol, atorvastatin","Angioplasty,Coronary artery bypass surgery"
1,Mark Johnson,Male,57,1,1,1,150,80,110,1,...,Shows a 60% blockage in the right coronary artery,0,1,None,None,None,None,Coronary artery disease (CAD),"Aspirin, ramipril, atorvastatin","Angioplasty,Coronary artery bypass surgery"
2,Emily Davis,Female,60,1,1,1,130,85,95,1,...,Shows a 75% blockage in the left anterior desc...,0,1,None,None,None,None,Coronary artery disease (CAD),"Aspirin, lisinopril, rosuvastatin","Angioplasty,Coronary artery bypass surgery"
3,William Thompson,Male,62,1,1,1,145,90,100,1,...,Shows a 80% blockage in the left circumflex co...,0,1,None,None,None,None,Coronary artery disease (CAD),"Aspirin, metoprolol, atorvastatin","Angioplasty,Coronary artery bypass surgery"
4,Ashley Johnson,Female,58,1,1,1,135,80,105,1,...,Shows a 90% blockage in the right coronary artery,0,1,None,None,None,None,Coronary artery disease (CAD),"Aspirin, simvastatin, lisinopril","Angioplasty,Coronary artery bypass surgery"

In [3]:
heart_disease_df.head(2)

,Name,Gender,Age,Chest pain,Shortness of breath,Fatigue,Systolic,Diastolic,Heart rate (bpm),Lung sounds,...,Cardiac CT,Obesity,Murmur,Chest x-ray,Previous illnesses,Pulmonary function tests,Spirometry,Diagnosis,Medications,Treatment
0,Jane Doe,Female,55,1,1,1,140,90,100,1,...,Shows a 50% blockage in the left anterior desc...,0,1,None,None,None,None,Coronary artery disease (CAD),"Aspirin, metoprolol, atorvastatin","Angioplasty,Coronary artery bypass surgery"
1,Mark Johnson,Male,57,1,1,1,150,80,110,1,...,Shows a 60% blockage in the right coronary artery,0,1,None,None,None,None,Coronary artery disease (CAD),"Aspirin, ramipril, atorvastatin","Angioplasty,Coronary artery bypass surgery"

In [5]:
heart_disease_df.tail(2)

,Name,Gender,Age,Chest pain,Shortness of breath,Fatigue,Systolic,Diastolic,Heart rate (bpm),Lung sounds,...,Cardiac CT,Obesity,Murmur,Chest x-ray,Previous illnesses,Pulmonary function tests,Spirometry,Diagnosis,Medications,Treatment
332,David Johnson,Male,68,1,1,1,140,90,110,0,...,Shows constrictive pericarditis,0,1,None,None,None,None,Constrictive pericarditis,"Ibuprofen, colchicine, prednisone",Pericardiectomy
333,Emily Smith,Female,45,1,0,1,130,80,120,1,...,Shows constrictive pericarditis,0,1,None,None,None,None,Constrictive pericarditis,"Ibuprofen, colchicine, prednisone",Pericardiectomy

In [4]:
heart_disease_df.shape

(334, 49)

In [6]:
heart_disease_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 49 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Name                                             334 non-null    object
 1   Gender                                           334 non-null    object
 2   Age                                              334 non-null    int64
 3   Chest pain                                       334 non-null    int64
 4   Shortness of breath                              334 non-null    int64
 5   Fatigue                                          334 non-null    int64
 6   Systolic                                         334 non-null    int64
 7   Diastolic                                        334 non-null    int64
 8   Heart rate (bpm)                                 334 non-null    int64
 9   Lung sounds                                      334 non-null    int64
 10  Cholesterol level (mg/dL)                        334 non-null    int64
 11  LDL level (mg/dL)                                334 non-null    int64
 12  HDL level (mg/dL)                                334 non-null    int64
 13  Diabetes                                         334 non-null    int64
 14  Atrial fibrillation                              334 non-null    int64
 15  Mitral valve prolapse                            334 non-null    int64
 16  Rheumatic fever                                  334 non-null    int64
 17  Mitral stenosis                                  334 non-null    int64
 18  Aortic stenosis                                  334 non-null    int64
 19  Tricuspid stenosis                               334 non-null    int64
 20  Pulmonary stenosis                               334 non-null    int64
 21  Dilated cardiomyopathy                           334 non-null    int64
 22  Hypertrophic cardiomyopathy                      334 non-null    int64
 23  Restrictive cardiomyopathy                       334 non-null    int64
 24  Arrhythmogenic right ventricular cardiomyopathy  334 non-null    int64
 25  Takotsubo cardiomyopathy                         334 non-null    int64
 26  Drug use                                         334 non-null    int64
 27  Fever                                            334 non-null    int64
 28  Chills                                           334 non-null    int64
 29  Joint pain                                       334 non-null    int64
 30  Alcoholism                                       334 non-null    int64
 31  Hypertension                                     334 non-null    int64
 32  Fainting                                         334 non-null    int64
 33  Dizziness                                        334 non-null    int64
 34  Smoking                                          334 non-null    int64
 35  High cholesterol                                 334 non-null    int64
 36  Echocardiogram                                   334 non-null    object
 37  Blood culture                                    334 non-null    object
 38  EKG                                              334 non-null    object
 39  Cardiac CT                                       334 non-null    object
 40  Obesity                                          334 non-null    int64
 41  Murmur                                           334 non-null    int64
 42  Chest x-ray                                      334 non-null    object
 43  Previous illnesses                               334 non-null    object
 44  Pulmonary function tests                         334 non-null    object
 45  Spirometry                                       334 non-null    object
 46  Diagnosis                                        334 non-null    object
 47  Medications                                      334 non-null    object
 48  Treatment                                        334 non-null    object
dtypes: int64(36), object(13)
memory usage: 128.0+ KB

#### Statistical summary

In [7]:
heart_disease_df.describe()

,Age,Chest pain,Shortness of breath,Fatigue,Systolic,Diastolic,Heart rate (bpm),Lung sounds,Cholesterol level (mg/dL),LDL level (mg/dL),...,Chills,Joint pain,Alcoholism,Hypertension,Fainting,Dizziness,Smoking,High cholesterol,Obesity,Murmur
count,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,...,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000
mean,50.149701,0.880240,0.826347,0.979042,133.098802,83.203593,101.152695,0.859281,213.637725,136.916168,...,0.173653,0.137725,0.002994,0.553892,0.086826,0.122754,0.350299,0.586826,0.056886,0.458084
std,15.151935,0.325168,0.379379,0.143459,10.040121,6.947282,11.667466,0.348253,26.169645,24.484085,...,0.379379,0.345128,0.054718,0.497833,0.282003,0.328648,0.477779,0.493142,0.231973,0.498987
min,23.000000,0.000000,0.000000,0.000000,110.000000,70.000000,60.000000,0.000000,150.000000,95.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.000000,1.000000,1.000000,1.000000,130.000000,80.000000,96.250000,1.000000,200.000000,120.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,50.000000,1.000000,1.000000,1.000000,130.000000,80.000000,100.000000,1.000000,210.000000,130.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,61.500000,1.000000,1.000000,1.000000,140.000000,90.000000,110.000000,1.000000,230.000000,150.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
max,100.000000,1.000000,1.000000,1.000000,160.000000,110.000000,120.000000,1.000000,310.000000,240.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### Techincal summary
###### No field with null value

In [5]:
# heart_disease_df.info()

#### Visualisation of data against age

In [1]:
# heart_disease_df['age'] = heart_disease_df['Age'].astype(int)
# heart_disease_df[["Chest pain", "Drug use"]].plot(x='age', subplots=True, layout=(2,2), figsize=(10,10))
# plt.show()