In [2]:
# np and pd basics
import numpy as np
import pandas as pd

#### np Arrrays

In [3]:
measurement = [[25, 165], [45, 185], [38, 147], [39, 195]]
measurement_array = np.array(measurement)
measurement_array

array([[ 25, 165],
       [ 45, 185],
       [ 38, 147],
       [ 39, 195]])

In [4]:
# shape
measurement_array.shape

(4, 2)

In [7]:
q6_array = np.array([[[[1, 2, 3]]]])
q6_array.shape

(1, 1, 1, 3)

In [9]:
a7 = measurement_array[2, :]
a7

array([ 38, 147])

In [10]:
a8 = measurement_array[0, 0]
a8

25

#### pd Dataframes

In [11]:
# Create the data to be included in the dataframe
participants = {
    'gender':['female', 'female', 'male', 'female', 'female', 'male', 'male', 'male', 'female'],
    'age': [26, 77, 39, 54, 55, 63, 28, 33, 49]
}

# create the dataframe
df = pd.DataFrame(participants)

In [12]:
df

   gender  age
0  female   26
1  female   77
2    male   39
3  female   54
4  female   55
5    male   63
6    male   28
7    male   33
8  female   49