In [1]:
# load libraries
import pandas as pd
import numpy as np

In [2]:
# pd col maxwidth
pd.set_option('display.max_colwidth',  None)

In [3]:
# laod data
data = pd.read_csv('data/training.1600000.processed.noemoticon.csv',header=None, encoding = "ISO-8859-1")
data.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."

In [4]:
# dropping irrelevant columns
data = data.drop([0, 1, 2, 3, 4], axis=1)

In [5]:
# renaming column
data = data.rename(columns={5: "text"})

### Pretrainig model for sentiment analysis

In [6]:
# import library
from textblob import TextBlob
from nltk import word_tokenize

def remove_nonalpha(string):
    return " ".join([ w for w in word_tokenize(string) if w.isalpha()])


def tweet_polarity(string):
    blob = TextBlob(remove_nonalpha(string))
    return blob.sentiment.polarity

def tweets_polarity(series):
    return series.apply(tweet_polarity)
data['Polarity'] = tweets_polarity(data.text)

In [7]:
# grouping to postive or negative
bins = (-1.0, 0, 1.0)
labels = ['Negative', 'Postive']
data['Polarity'] = pd.cut(data['Polarity'], bins=bins, labels=labels)
data.head(10)

,text,Polarity
0,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D",Postive
1,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!,Negative
2,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds,Postive
3,my whole body feels itchy and like its on fire,Postive
4,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there.",Negative
5,@Kwesidei not the whole crew,Postive
6,Need a hug,Negative
7,"@LOLTrish hey long time no see! Yes.. Rains a bit ,only a bit LOL , I'm fine thanks , how's you ?",Postive
8,@Tatiana_K nope they didn't have it,Negative
9,@twittera que me muera ?,Negative